<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="z-index:122">
    <a class="navbar-brand" href="#"><img src="/Public/ecera.jpg" style="width: 50px;height: 40px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/"><i class="fas fa-home"></i> Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/recruiter/register"><i class="fas fa-chalkboard-teacher"></i> Employer</a>
        </li>
        <li class="nav-item">
          <a href="/users/register" type="button" class="nav-link"><i class="fas fa-user-graduate"></i> Job Seeker</a>
        </li>
        
      </ul>
    </div>
  </nav>
  <div class="container">
  <div class="row">
<div class="col-md-6 ">
    <h2 class="mt-4">About</h2><br>
    <img src="/Public/developer.png" style="height: 300px;width:300px;"><br><br> 
</div> 
    <div class="col-md-6 m-auto" > 
        <h3 style="margin-left: -150px;"> <i class="fab fa-dev" style="font-size:24px"> </i>  Developer Information</h3>
        <br>
    <p class="lead mb-3" style="margin-left: -150px;"><b>Name :  <i>Aditya Mishra</i></b></p>
    <p class="lead mb-3" style="margin-left: -150px;"><b>Email :  <i>itsadityamishra22@gmail.com</i></b></p>
    <p class="lead mb-3" style="margin-left: -150px;"><b>Website :  <i>--</i></b></p>

    <!-- <i class="fa fa-github-square" style="font-size:24px"></i> -->
    <i class="fa fa-linkedin-square" style="font-size:24px"><a href="https://www.linkedin.com/in/aditya-mishra-73b376204/">⁜</a></i>
    <!-- <i class="fa fa-instagram" style="font-size:24px"></i> -->
    <!-- <i class="fa fa-facebook-square" style="font-size:24px"></i> -->
    </div>
    </div>
    </div>